
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playwrite+NZ+Guides&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim' ,sans-serif;

}
body{
    background-color: rgb(255, 192, 224);
    color: rgb(168, 17, 255);
    line-height: 1.6;
}

nav {
    background-color: rgb(171, 238, 255);
    color: rgb(248, 54, 255);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
image{width: 30px;}

nav .logo > img{
    height: 72px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}
nav a{
    color: blueviolet;
    text-decoration: none;
    font-weight: 400;
}
nav a:hover{
    color: rgb(255, 69, 69);
}


.header{
    text-align: center;
    padding: 30px;


}

.img-profile{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 5px 5px rgb(255, 154, 233);
 
}

.logo{
    font-size: 30px;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    
}
h2{
    text-align: center;
    margin-bottom: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
}
.card{
   
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 10px 10px rgb(255, 159, 234);
   

}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3{
    padding: 5px 5px 5px ;
    font-size: 20px;
}

.card p{
    padding: 5px;
    font-size: 18px;
}
